<div class="project-heading" data-project-id="<%= project.id %>">
  <!-- <a href="#/projects/<%= project.id %>">
    <span class='shadow'></span>
    <span class='details'> -->
      <%= project.escape("title") %>
    <!-- </span>
  </a> -->
</div>
