<div class="project-heading org" data-project-id="<%= project.id %>">

      <%= project.escape("title")%>
      <div id="members"></div>
<!-- <div>added to <%=project.attributes.projects%></div> -->
</div>
