
<nav class="navbar navbar-default project">
  <div class="container-fluid">
    <div class="navbar-header project">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><%=project.attributes.title%></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">

       <li><a><div id="team-members" class="btn-group" role="group" aria-label="...">

       </div></a></li>

      <li><div class="btn-toolbar" role="toolbar">
        <div class="btn-group project-toolbar" role="group">
          <div class="btn-group dropdown workspaces-dropdown">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-menu-down"></span>
            </button>

          </div>

        <!-- <button type="button" class="add-user btn btn-default btn-xs">
          +

        </button> -->

        <!-- <button type="button" class="delete-project btn btn-default btn-xs">
          -

        </button> -->


        </div>
      </div>
    </li>
    <li>

    </li>
  </ul>
  </div>
</div>
</nav>

<!-- <div class="project-tasks">
<h4>Tasks</h4>
  <ul id="tasks">

  </ul>
  <div id="task-form">

  </div>
</div> -->

<div id="project-overview-in-org">

</div>
