<nav class='navbar navbar-default'>
  <h2><%= organization.escape('title') %></h2>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group" >
    <button type="button" class="create-project btn btn-default">Create Project</button>
    <button type="button" class="add-user btn btn-default">Add User</button>
    <button type="button" class="find-user btn btn-default">Find User</button>
  </div>
  </div>
</nav>

<div class="members">
</div>

<div id="user-results"></div>

<div class='projects-window'>
  <div id="projects">
  </div>

  <div id="project-form">
  </div>
</div>
