<div class="m-background">

</div>

<div class="m-content">
<div class="response">
<button type="button" value="yes" id="yes" class="btn btn-default task-main-form">I have completed this task</button>
<button type="button" value="no" id="no" class="btn btn-default task-main-form">Cancel</button>
</div>
</div>
