

<div class="form-group">
  <form>
    <ul class="errors">
    </ul>
    <input
      class="form-control"
      placeholder="New Task"
      type="text"
      name="title"
      value="<%= task.escape("title") %>"
    >

    <input
    class="form-control"
    placeholder="Description"
    name="description"
    value="<%= task.escape("description") %>"
    >

    <!-- <textarea class="form-control" placeholder="Description" aria-describedby="sizing-addon1"
    name="description"><%= task.escape("description") %>
    </textarea> -->
    <!-- <input
      class="form-control assignee"
      placeholder="Assignee"
      type="text"
      name="assignee"
      value=""
    > -->
    <div class="input-group">
      <input type="text" name="assignee" class="form-control assignee" placeholder="Assignee" aria-describedby="basic-addon1">
      <span class="btn input-group-addon" id="assignee-stager">+</span>
    </div>

    <input
      id="assignee_id_buffer"
      type="hidden"
    >

    <input
      id="assignee_ids"
      type="hidden"
      name="assignee_ids"
      value="[]"
    >

    <div id="assignees-stage"></div>
    <input
      class="form-control"
      placeholder="Due Date"
      type="text"
      name="due_date"
      value="<%= task.escape("title") %>"
    >

    <!-- members.filter_auto_complete(n,fragment)[0].names(n) -->
    <!-- <ul> -->
      <!-- <li>1</li> -->
    <!-- </ul> -->
    <input type="submit" value="+" class="btn btn-default task-main-form">
  </form>
</div>
