
<!-- <div class="task-item" data-id="<%=task.attributes.id%>" data-desc="<%=task.attributes.description%>" data-heading="<%=task.attributes.title%>"> -->

<%= task.escape('title') %>

<!-- </div> -->
