// #workspaces {
//   display: inline-block;
// }

// #workspaces {
//   height: 500px;
//   padding: 10px;
//
// }
.navbar.navbar-default.project h2 {
  text-align: center;
}

.workspace-heading {
  width: 200px;
  padding: 10px;
  height: 200px;
  border: 1px solid #B9C7C1;
  margin: 25px;
  border-radius: 3px;
  display: inline-block;
  background: #DFE6E8;
  cursor: pointer;
  overflow: scroll;
}

// .workspace-item {
//   padding: 0px;
//   margin: 0px;
//   border-radius: 5px;
// }


// .user {
//   display: inline-block;
//   width: 45px;
//   height: 45px;
//   padding: 3px;
//   border: 3px solid navy;
//   margin: 0px;
// }

.ws-title {
  padding: 10px;
}

.ws-title h3 {
  text-align: center;
  top: 3px;
}

#workspaces {

}

.create-workspace:hover {
  color: green;
  font-weight: 1500;
}

.project-show {
  float: right;
  width: 85%;
}

.workspace-heading:hover{
  background: #DFE8E4;
  border: 1px dashed #B9C7C1;
}


.navbar.navbar-default.project {
  bottom-margin: 1px;
  border: 1px solid #C3D7DE;
}

#project {
  float: left;
  left-margin: 0px;
  width: 90%;
  margin-top: 0px;
  // right-margin: 0px;0px;
}

// .project-heading {
//   display: inline-block;
//   border: 1px solid gray;
//   margin: 0px;
// }

#projects-sidebar {
  background: #E4EBED;
  float: left;
  right-margin: 10px;
  width: 150px;
  height: 500px;
  padding: 3px;
  border: 1px solid gray;
  margin: 0px;
  border-radius: 2px;
  padding-bottom: 5px;
  height: auto;
}
