<ul aria-labelledby="dropdownMenu1">
    <% workspaces.each(function (workspace) { %>
      <li class="workspace-item list-group-item" data-id="<%= workspace.id %>">
            <%= workspace.escape("title") %>
      </li>
    <% }); %>
  </ul>
</div>
