<div class="m-background"></div>

<div class="m-content">
  <form>
    <label>
      Add User
    </label>
    <ul class="errors">
    </ul>

      <input
        class="form-control"
        type="text"
        name="fragment"
        value=""
        placeholder="Name"
      >
      <div id="results" class="dropdown open">
      </div>

    <!-- <input type="submit" class="btn btn-default"> -->
    <!-- <div class="results">

    </div> -->
  </form>


</div>
