<div class="form-group">
<form>
  <ul class="errors">
  </ul>
  <input
    class="form-control"
    placeholder="New Workspace Title"
    type="text"
    name="title"
    value="<%= workspace.escape("title") %>"
  >

  <input type="submit" value="+" class="btn btn-default task-main-form">
</form>


</div>
