<nav class='navbar navbar-default'>
  <h4>My workspaces</h4>
  <button type="button" class="btn btn-default btn-xs create-workspace">+</button>
</nav>

<div id='workspaces'>

</div>

<div id="workspace-form">
</div>
