<div class="m-background">

</div>

<div class="m-content">


<div class="form-group">
<form>
  <ul class="errors">
  </ul>
  <input
    class="form-control"
    placeholder="New Workspace Title"
    type="text"
    name="title"
    value="<%= workspace.escape("title") %>"
  >
  <div class="stage"></div>
  <div id="assignees-stage"></div>
  <!-- <div id="project-results">
  </div> -->

<input type="submit" value="+" class="btn btn-default task-main-form">
</form>


</div>
</div>
