


<div id="projects-sidebar">
  <div class="row" id="project-sidebar-heading">
    <div class="sidebar-header-item"><h4>Projects</h4></div>
    <div class="sidebar-header-item">
      <button class="btn btn-default btn-xs project-to-ws" type="button">
        <!-- <span class="glyphicon glyphicon-plus"></span> -->+
      </button>
    </div>
  </div>
</div>



<div class="project-show">
  <nav class="navbar navbar-default project">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="ws-header"><a href="#"><%= workspace.escape('title') %> <span class="sr-only">(current)</span></a></li>
              <!-- <li><a class="add-project">
                <span class="glyphicon glyphicon-plus"></span>
              </a></li> -->
          <li><a>
          <div class="btn-group" id="members" role="group" aria-label="...">

          </div>
        </a></li>
      </ul>

    </div>
  </div>
  </nav>

<div id="project">
</div>

</div>
