<div class="cont">


<div id="projects-sidebar">
  <div class="row" id="project-sidebar-heading">
    <div class="sidebar-header-item"><h4 id="projects-index">Projects</h4></div>
    <div class="sidebar-header-item">
    </div>
  </div>
    <div id="content-sidebar">
    </div>
</div>


<div class="project-show">
  <nav class="my-nav workspace">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand cont" href="<%= "#/workspaces/" + workspace.escape('id') %>"><%= workspace.escape('title') %></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a>
          <div class="btn-group" id="members" role="group" aria-label="...">

          </div>
        </a></li>
        <li class="user-info"></li>
      </ul>

    </div>
  </div>
  </nav>


<div id="project">
</div>

</div>
</div>
